@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

.section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.box {
    text-align: center;
}

.picture {
    text-align: left;
}