@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

.container_box {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    }

.logo {
    position: absolute;
    left: 50px;
    top: 40px;
    font-size: 17px;
    padding: 0px;
    color: white;
    text-shadow: 4px 4px 4px black;
    background: none;
}

.header {
    color: white;
    text-shadow: 4px 4px 4px black;
    }

.header p {
    color: white;
    text-shadow: 4px 4px 4px black;
    }

i.ri-search-line::before {
    position: absolute;
    bottom: 6px;
    left: -30px;
    }

.searchbar input {
    width: 300px;
    height: 40px;
    border-radius: 12px;
    border-color: #b8b8b8;
    padding-right: 40px;
    }

.searchbar {
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    display: flex;
    width: 300px;
    height: 40px;
    }

.section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.box {
    text-align: center;
    border: solid black 1px;
    border-radius: 12px;
    gap: 5px;
}

.picture {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: flex-start;
}

.picture p {
    text-align: center;
    margin: 0px;
    margin-top: 35px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.signup-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form input,
.signup-form select,
.signup-form button {
  padding: 10px;
  font-size: 16px;
}

.signup-form button {
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}