@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

    .container {
    }

    .container_box {
        text-align: center;
        display: -ms-flexbox;
        box-sizing: border-box;
    }
    .logo {
        font-size: 17px;
        margin: 0px;
        padding: 0px;
        color: white;
        text-shadow: 4px 4px 4px black;
        background: none;
    }

    .header {
        color: white;
        text-shadow: 4px 4px 4px black;
    }

    .header p {
        color: white;
        text-shadow: 4px 4px 4px black;
    }

    i.ri-search-line::before {
        position: absolute;
        bottom: 6px;
        left: -30px;
    }

    .searchbar input {
        width: 300px;
        height: 40px;
        border-radius: 12px;
        border-color: #77abe6;
    }

    .searchbar {
        color: white;
        display: flex;
        width: 300px;
        height: 40px;
    }

    button {
        text-align: center;
        width: 300px;
        height: 45px;
        background-color: #77abe6;
        color: white;
        border-radius: 12px;
        border-style: none;
        font-weight: bold;
        font-size: 15px;
    }

    .info {
        display: flex;
    }

    hr {
        border: 4px solid; 
        margin-left: 500px;
        margin-right: 500px;
    }

    .testimonials {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: start;
    text-align: center;
    }

    .quoteL {
        text-align: left;
    }

    .quoteR {
        text-align: right;
    }

    .profile img {
        width: 150px;
        height: 150px;
        border-radius: 90%;
        border: 15px solid white;
    }

    .testimonial {
        height: 500px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        padding: 5rem 2rem 2rem;
        background-color: #ededed;
        border-radius: 5px;
        border: 1px solid;
        box-shadow: 5px 10px;
        padding-top: 35px;
    }

    .testimonial p {
        margin: 0%;
        font-size: 20px;
        text-align: left;
    }