@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


    .container_box {
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
    }
    .logo {
        position: absolute;
        left: 50px;
        top: 150px;
        font-size: 17px;
        padding: 0px;
        color: white;
        text-shadow: 4px 4px 4px black;
        background: none;
    }

    .header {
        color: white;
        text-shadow: 4px 4px 4px black;
    }

    .header p {
        color: white;
        text-shadow: 4px 4px 4px black;
    }

    i.ri-search-line::before {
        position: absolute;
        bottom: 6px;
        left: -30px;
    }

    .searchbar input {
        width: 300px;
        height: 40px;
        border-radius: 12px;
        border-color: #b8b8b8;
        padding-right: 40px;
    }

    .searchbar {
        position: absolute;
        right: 50px;
        top: 150px;
        color: white;
        display: flex;
        width: 300px;
        height: 40px;
        ;
    }

    button {
        text-align: center;
        width: 300px;
        height: 45px;
        background-color: #91c9e4;
        color: white;
        border-radius: 12px;
        border-style: none;
        font-weight: bold;
        font-size: 15px;
    }

    .services-involved {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

.events {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #c4c4c4;
  flex-grow: 1;
}

    hr {
        border: 4px solid; 
        margin-left: 500px;
        margin-right: 500px;
    }

    .testimonials {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: start;
    text-align: center;
    }

    .quoteL {
        text-align: left;
    }

    .quoteR {
        text-align: right;
    }

    .profile img {
        width: 150px;
        height: 150px;
        border-radius: 90%;
        border: 15px solid white;
    }

    .testimonial {
        height: 500px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        padding: 5rem 2rem 2rem;
        background-color: #ededed;
        border-radius: 5px;
        border: 1px solid;
        box-shadow: 5px 10px;
        padding-top: 35px;
    }

    .testimonial p {
        margin: 0%;
        font-size: 20px;
        text-align: left;
    }

    .icon {
        size: 100px;
        padding-right: 25px;
        color: white;
    }