.ResourceContainer {
    display: flex;
    justify-content: space-between; /* left, center, right */
    align-items: flex-start;
}
.ResourceBarL, .ResourceBarC, .ResourceBarR {
    width: 30%;
    padding: 10px;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a:hover {
    text-shadow: 1px 1px 2px rgb(112, 112, 112);
}